:root {
  /* Color */
  --background-color: #010100;
  --main-text-color: white;
  --body-link-color: green;
  --active-link-color: blue;
  --hover-color: green;
  --visited-link-color: green;
  --header-font-color: black;
  --header-background-color: white;
  --button-bg-color: lightgrey;

  /* size */
  --size-header: 40px;
  --size-body: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100vw;
}



* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: 'Ubuntu Mono', monospace;
  color: var(--main-text-color);
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Abel', sans-serif;
  color: var(--main-text-color);
}

footer {
  /* background-color: white; */
  clear: both;
  text-align: center;
}

.footer_icon {
  background-color: var(--header-background-color);
}

.submit {
  background-color: #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: var(--header-font-color);
  font-family: 'Oswald';
  font-size: var(--size-body);
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.submit:hover {
  color: var(--header-font-color);
  border: none;
  background: var(--active-link-color);
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */

  /* order:  visited / hover /active */
  /* text-decoration: underline; */
  color: var(--hover-color);

  /* font-size: 40px; */
}

a:active {
  color: var(--active-link-color);
  opacity: 0.8;

  /* selected link */

  /* color: pink; */
}

.navigation-list__item {
  /* text-decoration: none; */
  font-size: 30px;
  font-weight: 600;
  color: var(--header-font-color);

}

.page-header__item {
  color: var(--header-font-color);
}

.navigation-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  color: var(--header-font-color);
  font-family: 'Abel', sans-serif;
  justify-content: space-between;

 margin: 0;
 padding: 10px;

}

.profile__portrait {
  width: 500px;
  float: left;

  margin-right: 40px;
  border-radius: 100px;
}

.page-header {
  background-color: var(--header-background-color);
  margin:auto;

}

.header_title {
  font-size: var(--size-body);
  color:white;
  background-color: black;
  padding:0px;
  margin: 0px;
}




.navigation-list li {
  display: block;
  color: var(--header-font-color);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.navigation-list__item {
  display:block;
  width: 100%;
  text-decoration: none;
  border-top:  2px solid black;
  border-bottom: 2px solid black;
}

.main-navigation {
  /* max-height: 100px; */
}

.navigation-list__item:hover {
  /* text-decoration: none; */
  font-weight: 600;
  opacity: 0.5;
  color: var(--header-font-color);
}

.navigation-list__item--active {
  /* text-decoration: none; */
  /* font-size: var(--size-header); */
  /* font-weight: 1000; */

    border-right: 2px solid red;
    border-left: 2px solid red;
    border-bottom:none;
    border-top: none;
}

.grid__item {
  color: var(--header-font-color);
  background-color: var(--button-bg-color);
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 25px;

  /* flex-grow: 1; */
}

@keyframes color-change {
  from {
    fill: var(--header-font-color);
    border: 50px var(--button-bg-color) solid;
    background-color: var(--header-font-color);
  }

  to {
    fill: var(--button-bg-color);
    border: 50px var(--header-font-color) solid;
    background-color: var(--button-bg-color);
  }
}

.apictureOfBerlin {
  display: block;
  padding: 20px;
  border-radius: 100px;
  animation: 2s color-change infinite alternate linear;
  margin: auto;
}

.monNom {
  font-size: var(--size-body);
}

.project_pict {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .navigation-list {
    display: grid;
    grid-template-columns: 1fr ;
}
 .body_page {



 }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .navigation-list {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    background-color:white;
}

}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
    
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}


.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.processing {
  margin-top: 120px;
  width: 100%;
  height: 150px;
}